:root {
    --background-color: rgb(0, 0, 0);

    --card: rgb(20, 20, 20);
    --accet: #ccc;
    --mobile-player: #cccccc15;
}


* {
    box-sizing: border-box;

}

body {
    background-color: var(--background-color);
    color: var(--accet);
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;


}
header{
     position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 10px;
    z-index: 9999;
   background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
   
}

.logo {
    padding: 2px 8px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;




}

.logo h1 {
    font-size: 1.5rem;
}

.my {
    transform: translateY(-20px);
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.app {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;

    width: 100%;
    border: 1px solid var(--accet);
    border-radius: 30px;
    overflow: hidden;
    height: 40px;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 30px;
}

.search input {
    font-size: 16px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--accet);
    border: none;
    padding: 8px;
}

.search input:focus {
    outline: none;
}

input::placeholder {
    font-size: 0.9rem;

}

.searchDiv span {
    font-size: 1.2rem;
    color: var(--accet);
    background-color: var(--card);
    padding: 5px;
    border-radius: 8px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

.userImg {
    background-color: var(--accet);
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

footer {
    background-color: var(--background-color);

    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.musicIMG {
    display: flex;
    gap: 10px;
    align-items: center;


}



.musicIMG img {
    width: 100%;
    max-width: 80px;
}

#control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding: 10px;


}

#control button {
    background-color: transparent;

    border: none;
    color: var(--accet);
    cursor: pointer;
}

.progress {
    background-color: var(--card);
    height: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    transition: all 0.8s ease-in-out;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    background-color: var(--accet);
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    /* overflow: hidden; */
    cursor: pointer;
    justify-content: left;
}

#proBar {

    background-color: var(--background-color);
    width: 0%;
    height: 100%;
    cursor: pointer;
    transition: 0.8s ease;
    position: relative;
    border-radius: 30px;


}

#proBar::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--background-color);
    right: -8px;
    border-radius: 50%;
    top: -3px;
    z-index: 9999;

}

.progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

}

.dura{
    font-size: 0.8em;
    display: inline-block;
    justify-content: center;
    align-items: center;

}



#pref,
#next {
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#play {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    cursor: pointer;
}


.btnControl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.heroSection {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;




}

.leftSide {
    background-color: var(--card);
    width: 10%;
    height: 100%;
    border-radius: 12px;

}

section {
    width: 100%;
    height: 75%;


}

.centerContent {
    width: 60%;
    height: 100%;
    background-color: var(--card);
    gap: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px;

}


.centerContent::-webkit-scrollbar {
    display: none;

}

.rightSide::-webkit-scrollbar {
    display: none;
}

.rightSide {
    width: 30%;
    height: 100%;
    background-color: var(--card);
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}

.rightSide form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;

}

.rightSide input {
    border: none;
    width: 100%;
    height: 30px;
    font: 16px;
}

.rightSide label {
    font-size: clamp(1rem, 5vw, 1rem);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightSide button {
    height: 30px;

}

#loaded {
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s ease-in-out;
    animation: fadein 2s ease;


}

@keyframes fadein {
    form {
        opacity: 0;
        width: 30%;
        height: 30%;

    }

    to {
        opacity: 1;
        width: 100%;
        height: 100%;

    }
}

.rolling {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid var(--accet);
    border-top: 5px solid var(--card);
    animation: spin 2s infinite;
}

.done {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid green;
    overflow: hidden;
    animation: spin none;



}

.done::before {
    content: "✅";
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-size: 2rem;
}

.error {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid red;
    overflow: hidden;
    animation: spin none;

}

.error::before {
    content: "❌";
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-size: 2rem;
}

@keyframes spin {
    form {
        transform: rotate(0deg);
        opacity: 0;
    }

    to {
        transform: rotate(350deg);
        opacity: 1;
    }

}


/* center cards--- */

/* .heroCard{
    background-image: url(image/muisc\ 1.jpg),linear-gradient(to right, transparent 60%, black);
    background-position: left;
    
    background-repeat: no-repeat;
    background-size: 70%/100%;
    width: 100%;
    height: 300px;
    border-radius:12px ;
  
} */


.heroCard {
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    transition: 3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.253);
}

.musicLIst {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}


.songRoll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
    /* background-color: red; */
    align-items: center;
    padding: 10px 10px;


}

.songRoll::-webkit-scrollbar {
    display: flex;
}


.track {
    width: 280px;
    min-width: 270px;
    height: 300px;
    transition: 0.6s ease;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    position: relative;
    padding: 15px 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px var(--accet);


}


.track:hover {
    background-color: #e4e4e459;
    color: var(--background-color);
}

.track:hover #playTrackBtn {
    display: flex;
}

.track p {
    width: 100%;
    cursor: pointer;
}

.track img {
    width: 80%;
    border-radius: 12px;
}

.playTrackBtn {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    transition: 0.5s ease;
    color: var(--background-color);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 30%;

}

#playerImage {
    border-radius: 50%;


}

@keyframes playerDis {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.mobilePlayDiv {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 10px;
    /* backdrop-filter: blur(30px); */
    border-top: 1px solid;
    height: 100vh;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    border-radius: 30px 30px 0px 0px;
    z-index: 9999;
    padding: 10px 20px;
    flex-direction: column;
    background-color: var(--mobile-player);
    padding-bottom: 30px;
    transition: 0.8s ease;
     display: flex;
  transform: translateY(1000px);
}

.openAndClose{
     transform: translateY(0px);
   
}


/* @keyframes mobile {
    from{
        opacity: 0;
    }
    
} */



/* .heroSection,header,footer{

    filter: blur(50px);
} */
.mobilePlayDiv::-webkit-scrollbar {
    display: none;
}

.mobilePlayer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.mobileBtnControl {
    display: flex;
    gap: 10px;
    align-items: center;
    


}

#MBplay {
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--card);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#repeat,
#shuffle{
     border: none;
    background-color: transparent;
    color: white;
    font-size: 1.6rem;

}
 
#MBpref,
#MBnext{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.mobilePlayer i {
    font-size: 1.5rem;
    cursor: pointer;
}

.modilePlayIMG {
  
    width: 90%;
    height: 350px;
    min-height: 350px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.artName-contol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.artNameTitle {
    line-height: 0.5;
}

.downloadSong {
    font-size: 1.5rem;
    cursor: pointer;
}

.mobileProgress {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.progresMobile {
    background-color: gray;
    height: 3px;
    width: 100%;
    border-radius: 20px;

}

.bar {
    width: 0%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 20px;
    position: relative;
}

.bar::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    border-radius: 50%;
    right: -7px;
    top: -3px;
}

.timeDura {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.mobileConto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    align-items: center;
}




@media (max-width:900px) {

    .progress-bar {
        background-color: white;

    }

   .dura{
    display: none;
   }

    .sartMOBILE,.endMOBILE{
        display: flex;
    }

    .progress {
        position: relative;
        position: fixed;
        width: 100%;
        left: 0px;
        bottom: 0px;
        z-index: 80;
        padding: 0px;
        background-color: transparent;
        padding: 8px;

    }

    #pref,
    #next {
        display: none;
    }

    #proBar {
        background-color: #252424;
    }


    footer {
        justify-content: space-between;
        height: auto;
        backdrop-filter: blur(30px);
        box-shadow: 0px -2px 8px var(--card);


    }

    body {
        align-items: start;
    }

    .rightSide {
        position: fixed;
        width: 100%;
        background-color: blue;
        right: 1000px;

    }

    .centerContent {
        width: 100%;
        height: 100vh;

    }

    .leftSide {
        position: fixed;
        left: -800px;
        width: 30%;
    }

    .heroSection {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        padding: 8px;

    }

    .volume {
        display: none;

    }

    .trackDetails {

        font-size: 0.9rem;
        line-height: 1.5px;
    }

    #control {
        align-items: end;
        display: flex;
        width: 10%;




    }

    .btnControl {
        gap: 2px;
        width: 100%;
    }

    .musicIMG {
        width: 100%;
        align-items: center;
        overflow: hidden;


    }

    .musicIMG img {
        width: 15%;
    }

    nav {
        justify-content: space-between;

    }

    .searchDiv {
        position: absolute;
        left: 0px;
        top: 85px;
        width: 100%;
        padding: 8px 10px;
        display: none;
        background-color: var(--background-color);

    }


}