:root{
    --background-color: rgb(0, 0, 0);
  
    --card :  rgb(20, 20, 20);
    --accet:#ccc;
}


*{
    box-sizing: border-box;

}

body{
    background-color: var(--background-color);
    color: var(--accet) ;
    margin: 0px;
    padding:0px;
     font-family: "Montserrat", sans-serif;
     display: flex;
     height: 100vh;
     width: 100%;
     justify-content: center;
     align-items: center;

    
}

nav{
    display: flex;
    justify-content: space-around;
   background-color:var(--background-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
padding: 5px 10px;
z-index: 9999;
}

.logo{
    padding: 2px 8px;
  border-radius: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
  

    
    
}

.logo h1{
    font-size: 1.5rem;
}
.my{
    transform: translateY(-20px);
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.app{
     display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
 
    width: 100%;
    border: 1px solid var(--accet);
    border-radius: 30px;
    overflow: hidden;
    height: 40px;
}
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 30px;
}

.search input{
    font-size:16px ;
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--accet);
    border: none;
    padding: 8px;
}

.search input:focus{
outline: none;
}

input::placeholder{
    font-size:0.9rem;
   
}

.searchDiv span{
    font-size: 1.2rem;
   color: var(--accet);
     background-color:var(--card);
     padding: 5px;
     border-radius:8px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size:1.5rem ;
}

.userImg{
    background-color: var(--accet);
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

footer{
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
align-items: center;

}

.musicIMG{
    display: flex;
    gap: 20px;
    align-items: center;
   
}

.musicIMG img{
    width: 100%;
    max-width: 80px;
}
#control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding: 10px;
   
}

#control button{
    background-color: transparent;
   
    border: none;
    color: var(--accet);
    cursor: pointer;
}

.progress-bar{
    width: 100%;
    background-color: var(--accet);
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}
#proBar{

    background-color: var(--background-color);
    width: 0%;
    height: 100%;
    cursor: pointer;

    
}
.progress{
  display: flex;
  justify-content: center;
    width: 100%;

}



#pref,#next{
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#play{
    font-size: clamp(1.8rem, 5vw , 2.5rem);
}


.btnControl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.heroSection{
    display: flex;
    gap: 10px;
    align-items: center;
    height:100%;
   

  

}

.leftSide{
    background-color: var(--card);
    width: 10%;
    height: 100%;
    border-radius: 12px;
  
}

section{
    width: 100%;
    height: 75%;
   
   
}

.centerContent{
    width: 60%;
    height: 100%;
    background-color: var(--card);
    gap: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px;
   
}


.centerContent::-webkit-scrollbar{
    display: none;
 
}

.rightSide::-webkit-scrollbar{
    display: none;
}

.rightSide{
    width: 30%;
    height: 100%;
    background-color: var(--card);
     overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 12px;
}


/* center cards--- */

/* .heroCard{
    background-image: url(image/muisc\ 1.jpg),linear-gradient(to right, transparent 60%, black);
    background-position: left;
    
    background-repeat: no-repeat;
    background-size: 70%/100%;
    width: 100%;
    height: 300px;
    border-radius:12px ;
  
} */


.heroCard{
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    background-blend-mode: overlay;
    transition: 3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.253);
}

.musicLIst{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
  margin-bottom: 20px;
}


.songRoll{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
   gap: 10px;


}
.songRoll::-webkit-scrollbar{
    display: none;
}


.track{
    width: 280px;
    min-width: 270px;
    height: 300px;
   transition: 0.6s ease;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   gap: 10px;
   position: relative;
   padding: 15px 10px;
 
}


.track:hover{
    background-color: #e4e4e459;
    color: var(--background-color);
}

.track:hover #playTrackBtn{
    display: flex;
}
.track p{
    width: 100%;
    cursor: pointer;
}

.track img{
    width: 90%;
    border-radius: 12px;
}

#playTrackBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20%;
    transition: 0.5s ease;
    color: var(--background-color);
}








@media (max-width:900px) {



    .rightSide{
        position: fixed;
        width: 100%;
        background-color: blue;
        right: 1000px;

    }
    .centerContent{
        width: 100%;

    }

    .leftSide{
        position: fixed;
        left: -800px;
        width: 30%;
    }

    .heroSection{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        padding: 8px;

    }
.volume{
    display: none;

}


#control{
    align-items: end;
    display: flex;
    width: 50%;
   
    height: 100%;
}

.btnControl{
  gap: 9px;
    width: 100%;
}
.musicIMG{
    width: 50%;
   
}
    nav{
        justify-content: space-between;
      
    }
    .searchDiv{
        position: absolute;
        left: 0px;
        top: 85px;
        width: 100%;
        padding: 8px 10px;
       
        background-color: var(--background-color);

    }

    footer{
        justify-content: space-between;
        padding: 5px 10px;
    }
}