:root{
    --background-color: rgb(0, 0, 0);
  
    --card :  rgb(20, 20, 20);
    --accet:#ccc;
}


*{
    box-sizing: border-box;

}

body{
    background-color: var(--background-color);
    color: var(--accet) ;
    margin: 0px;
    padding:0px;
     font-family: "Montserrat", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
   background-color:var(--background-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
padding: 10px;
}

.logo{
    padding: 2px 8px;
  border-radius: 10px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  

    
    
}

.logo h1{
    font-size: 1.5rem;
}
.my{
    transform: translateY(-20px);
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.app{
     display: inline-block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
 
    width: 100%;
    border: 1px solid var(--accet);
    border-radius: 30px;
    overflow: hidden;
    height: 40px;
}
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 30px;
}

.search input{
    font-size:16px ;
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--accet);
    border: none;
    padding: 8px;
}

.search input:focus{
outline: none;
}

input::placeholder{
    font-size:0.9rem;
   
}

.searchDiv span{
    font-size: 1.6rem;
   color: var(--accet);
     background-color:var(--card);
     padding: 10px;
     border-radius:8px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size:1.5rem ;
}

.userImg{
    background-color: var(--accet);
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

footer{
    background-color: var(--card);
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
align-items: center;

}

.musicIMG{
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;

}

.musicIMG img{
    width: 100%;
    max-width: 80px;
}
#control{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    justify-content: center;
    gap: 20px;
   
}

#control button{
    background-color: transparent;
   
    border: none;
    color: var(--accet);
    cursor: pointer;
}

.progress-bar{
    width: 100%;
    background-color: var(--accet);
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}
#proBar{

    background-color: var(--background-color);
    width: 0%;
    height: 100%;
    cursor: pointer;

    
}
.progress{
  display: flex;
  justify-content: center;
    width: 50%;
}



#pref,#next{
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#play{
    font-size: clamp(1.8rem, 5vw , 2.5rem);
}


.btnControl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.volume{
    flex: 1;
}

@media (max-width:900px) {
.volume{
    display: none;

}


#control{
    align-items: end;
    display: flex;

}
    nav{
        justify-content: space-between;
      
    }
    .searchDiv{
        position: absolute;
        left: 0px;
        top: 85px;
        width: 100%;
        padding: 0px 10px;
       
        background-color: var(--background-color);

    }

    footer{
        justify-content: space-between;
        padding: 8px;
    }
}